*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;	 }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body,html{
	font-family: 'Montserrat',;
	/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
	width: 3px; /* ширина для вертикального скролла */
	height: 140px; /* высота для горизонтального скролла */
	background: transparent;
	position: relative;
	background-color: transparent;
  }
  
  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
	width: 3px;
	height: 140px;
	border-radius: 1px;
	background-color: #dbe0e4;
	position: absolute;
	right: 4px;
  }
  .scrollar-viewport { overflow: scroll; }
	.scrollar-viewport { clip: rect(0, auto, auto, 0); clip: rect(0 100% 100% 0); }

}
.wrapper{
	padding: 117px 0 0 163px;
}
.chat {
padding: 0 0 0 57px;
position: relative;
transition: 0.3s ease;
	&__letters {
	}

	&__container {
		max-width: 1326px;
	}

	&__row {
		display: flex;
		max-width: 1269px;
		position: relative;
	}
	&__item{
		flex: 0 1 933px;
	}
	&__list {
	}
}
.letters-chat {
	position: absolute;
	left: 20px;
	top: 60px;
	&__body {
		display: flex;
		flex-direction: column;
		
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		&:first-child{
			margin-bottom: 15px;
			.letters-chat__item_grey {
				img{
					width: 16px;
					height: 16px;
				}
			}
			
			.letters-chat__item_hover {
				img{
					width: 16px;
					height: 16px;
				}
			}
		}
		&:nth-child(2){
			margin-bottom: 13px;
			margin-left: -1.5px;
		}
		&:nth-child(3){
			margin-bottom: 23px;
			margin-left: -1.5px;
		}
		&:hover{
			.letters-chat__item_hover{
				opacity: 1;
				visibility: visible;
			}
			.letters-chat__text{
				color: #222222;
			}
		}
		&_grey {
			img{
				width: 19px;
				height: 19px;
			}
			margin-right: 15px;
		}

		&_hover {
			img{
				width: 19px;
				height: 19px;
			}
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			visibility: hidden;
		}

		&_s {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 19.5px;
		}
		&_round{
			margin-bottom: 15px;
			margin-left: 4px;
		}
	}
	&__text{
		opacity: 0;
		visibility: hidden;
		&.visible{
			visibility: visible;
			opacity: 1;
		}
		transition: 0.3s ease;
		color: #777777;
		font-family: Montserrat;
		font-size: 13px;
		font-weight: 500;
	}
	&__new-chat{
		opacity: 0;
		visibility: hidden;
		padding: 18px 0 0 0;
		border-top: 1px solid #e2e5e7;
		&.visible{
			visibility: visible;
			opacity: 1;
		}
	}
	&__new-chat-text{
		color: #777777;
		font-family: Montserrat;
		font-size: 13px;
		font-weight: 500;
		&::before{
			content: '';
			display: inline-block;
			width: 8px;
			height: 8px;
			background: url(../img/plus.png) 0 0 no-repeat;
			margin: 0 16px 0 4px;
		}
		cursor: pointer;
		&.none{
			display: none;
		}	
	}
	&__form{
		display: none;
		&.open{
			display: flex;
			align-items: center;

		}
	}
	&__input{
		input{
			color: #777777;
			font-family: Montserrat;
			font-size: 13px;
			font-weight: 500;
			width: 151px;
			border-bottom: 1px solid #909090;
			padding: 0 0 5px 8px;
			letter-spacing: 0.02px;
		}	
		margin: 0 5px 0 0;
	}
	&__btn{
		color: transparent;
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.list-chat {
	flex: 0 0 333px;
	&__scroll{
		overflow-y: scroll;
		overflow-x: hidden;
		height: 748px;
		position: relative;
		border-radius: 0px 0 0px 10px;
		border-bottom: 2px solid #f1f2f3;
		transition-duration: 0.3s;
	}
}
.header-list-chat {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 44px;
	padding: 0 25px;
	border: 2px solid #f1f2f3;
	border-radius: 10px 0 0px 0px;
	&__title {
		color: #222222;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.06px;
	}

	&__icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 0 1 84px;
	}

	&__icon {
		cursor: pointer;
		path{
			fill: gray;
			display: block;
			width: 100%;
			height: 100%;
		}
		&:hover{			
			path{
				fill: url(#SVGID_1_);
			}
		}
	}

}
.pad{
	padding: 0 0 0 207px;
}
.item-list-chat {
padding: 0 0 0 18px;
height: 84px;
display: flex;
cursor: pointer;
align-items: center;
position: relative;
background-color: #ffffff;
&::before{
	content: '';
	height: 100%;
	width: 3px;
	position: absolute;
	left: 0px;
	top: 0;
	display: block;
	background-color: #dbe0e4;
}

&::after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	width: 318px;
	height: 2px;
	background: url(../img/Dots.png) ;
}
	&__body {
		display: flex;

	}

	&__icon {
		
	}

	&__block {

	}

	&__line {
		margin-bottom: 9px;
	}


	&__text{
		color: #777777;
		font-size: 13px;
		font-weight: 500;
		margin-bottom: 8px;
		&_new{
			&::before{
				content: 'Новое';
				color: #c44475;
				font-size: 10px;
				font-weight: 600;
				display: inline-block;
				transform: translate(0,-5px);
			}
		}
	}
	&__date{
		color: #c3c3c3;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.06px;
	}
}
.item-list-chat.active{
	background-color: #f6f6f6;
	&::before{
		width: 5px;
		background-color: #c44475;
	}

} 
.wp {
	color: #28a219;
}
.tg{
	color: #22a8e6;
}
.line{
	display: flex;
	&__name {
		font-size: 14px;
		color: #370954;
		font-weight: 600;
		letter-spacing: 0.07px;
		margin: 0 9px 0 0;
	}

	&__number {
		color: #777777;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 0.07px;
		padding: 0 0 0 10px ;
		position: relative;
		&::before{
			content: "|";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
		}
	}

	&__messenger {
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 0.07px;
		display: inline-block;
		transform: translate(0px,-4px);
	}
}
.icon{
	width: 42px;
	height: 42px;
	background-color: #28a219;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.18px;
	margin: 0 14px 0 0;
	position: relative;
	&_name{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	span{
		position: absolute;
		color: #ffffff;
		font-family: Montserrat;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 0.1px;
		width: 18px;
		height: 18px;
		border: 2px solid #ffffff;
		background-color: #c44475;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: -3px;
		bottom: -3px;
	}
	&_new{
		&::before{
			content: '';
			color: #ffffff;
			font-family: Montserrat;
			font-size: 10px;
			font-weight: 500;
			letter-spacing: 0.1px;
			width: 18px;
			height: 18px;
			border: 2px solid #ffffff;
			background-color: #c44475;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
		}

		&::before{
			content: 'sos';
			top: -3px;
			left: -3px;
			font-size: 6px;
		}
	}
}

.header-item-chat {
	height: 44px;
	background-color: #ffffff;
	padding:0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #f1f2f3;
	border-left: none;
	border-radius: 0px 10px 0px 0px;
	&__body {
		display: flex;
	align-items: center;
	}

	&__line {
		margin: 0 25px 0 0;
	}

	&__info {
		cursor: pointer;
		path{
			fill:#c3c3c3;
		}
		&:hover{
			path{
				fill: url(#SVGID_1_);
			}
		}
	}

	&__exit {
		display: flex;
		align-items: center;
		&_text {
			color: #370954;
			font-family: Montserrat;
			font-size: 13px;
			font-weight: 500;
			margin: 0 9px 0 0;
		}
		cursor: pointer;
		&_icon {
		}
	}
}
.chat-item {
position: relative;
overflow-x: hidden;
	&__content {
	}

	&__footer {
	}
}
.content-chat-content {
	height: 680px;
	width: 100%;
}
.footer-chat-item {
	height: 68px;
	background-color: #ffffff;
	display: flex;	
	align-items: center;
	border: 2px solid #f1f2f3;
	border-radius: 0px 0 10px 0px;
	padding: 0 25px 0 35px;
	form{
		display: flex;
	}
	&__body {
		display: flex;	
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__input {
		color: #222222;
		font-family: Montserrat;
		font-size: 13px;
		font-weight: 400;
		margin: 0 23px 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
		textarea{
			width: 572px;
			resize: none;
			height: 13px;
			max-height: 45px; 
		}
		textarea::-webkit-scrollbar{
			width: 0;
		}

		&_template {
			display: flex;
			align-items: flex-end;
			display: none;
		}
	
		&_img {
			max-width: 54px;
			max-height: 38px;
			img{
				max-width:100%;
				object-fit: cover;
			}
			margin: 0 14px 0 0;
			position: relative;
		}
	
		&_text {
			width: 486px;
			font-size: 13px;
			color: #222222;
			line-height: 16px;
			height: 45px;
			overflow-y: scroll;

		}
			
	}

	&__icons {
		display: flex;
		align-items: center;
	}

	&__button {
		font-style: auto;
		color: transparent;
		background-color: transparent;
		&.active{
			path{
			fill: url(#SVGID_1_);
			}
		}
		path{
			fill: #c3c3c3;
		}
		&:hover{
			path{
				fill: url(#SVGID_1_);
			}
		}

		margin: 0 10px 0 0;
		&::last-child{
			margin: 0;
		}
	}

	&__templates {
		display: flex;
		align-items: center;
		height: 100%;
		cursor: pointer;
		&:hover{
			.footer-chat-item__templates_icon{
				path{
					fill: url(#SVGID_1_);
				}
			}
			.footer-chat-item__templates_text{
				color: #222222;
			}
		}
		&_icon {
			margin: 0 7px 0 0;
			path{
				fill: #c3c3c3;
			}

		}

		&_text {
			color: #c3c3c3;
			font-family: Montserrat;
			font-size: 13px;
			font-weight: 500;
		}

	}
}
.footer-chat-item__input_text::-webkit-scrollbar{
	width: 0;
}


.content-chat-content {
padding: 15px 25px;
background: url(../img/pattern.png);
background-color: #f0f1f2;
overflow-y: scroll;
transition: 0.3s ease;
display: flex;
flex-direction: column-reverse;
	&__message {
		padding: 10px 0;
		display: flex;
		&_container{
			display: flex;
			align-items: flex-start;
		}
	}
	

	&__icon {
		margin: 0 17px 0 0;
	}

	&__block {
		max-width: 433px;
	}

	&__line{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4px;
	}

	&__name {
		font-size: 13px;
		color: #370954;
		font-weight: 600;
		letter-spacing: 0.07px;
	}

	&__date {
		color: #c3c3c3;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 0.06px;
	}
	&__img{
		img{
			max-width: 100%;
			object-fit: cover;
		}
	}
	&__file{
		display: flex;
		align-items: center;
		cursor: pointer;
		&_icon{
			width: 40px;
			height: 40px;
			background-color: rgba(219,224,228,0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			margin: 0 10px 0 0;
		}
		&_name{
			font-weight: 400;
			font-size: 12px;
			color: #222222;
			letter-spacing: 0.3px;
		}
		&_size{
			font-size: 12px;
			font-weight: 500;
			color: #c3c3c3;
			letter-spacing: 0.12px;

		}
	}
	&__audio{
		display: flex;
		align-items: center;
		&_icon{
			width: 32px;
			height: 32px;
			background-color: rgba(219,224,228,0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			margin: 0 10px 0 0;
			cursor: pointer;
		}
		&_line{
			width: 224px;
			height: 2px;
			border-radius: 1px;
			background-color: #dbe0e4;
			position: relative;
			margin: 0 10px 0 0;
			cursor: pointer;
			&::before{
				content: '';
				display: block;
				width: 4px;
				height: 4px;
				background-color: #c44475;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: -1px;
			}
			&_time{
				font-size: 12px;
				color: #222222;
			}
		}
	}
	&__item {
		border: 1px solid #e5e5e5;
		background-color: #ffffff;
		max-width: 378px;
		border-radius: 5px;
		padding: 15px 19px;
		color:#222222;
		font-size: 13px;
		font-weight: 400;
		line-height: 19px;
		position: relative;
		span{
			max-width: 335px;
		}
		&::before{
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: 0px;
			left: 0;
			border: 1px solid transparent;
			border-right:12px solid  #ffffff;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			z-index: 2;
			left: -11px;
			
		}
		&_big{
			max-width: 468px;
			padding: 11px;
			video {
				width: 100%;
				height: auto;
				max-height: 100%;
				width: 385px;
			  }
		}
	}
}
.sender {
}

.recipient {
	justify-content: flex-end;
	.content-chat-content__message_container{
		flex-direction: row-reverse;
	}
	.content-chat-content__icon {
		margin: 0 0 0 17px;
	}
	.content-chat-content__line{
		flex-direction: row-reverse;
	}
	.content-chat-content__item{
		&::before{
			left: auto;
			right: -11px;
			border-right: 0px;
			border-left:12px solid  #ffffff;;
		}
	}
}
.checked{
	&::after{
		content: '';
		width: 13px;
		height: 8px;
		background: url(../img/check.png) 0 0 no-repeat;
		display: inline-block;
		margin: 0 0 0 6px;
	}
}

.start-chat {
	flex: 0 1 933px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 792px;
	background-color: #f0f1f2;
	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__img {
		width: 143px;
		height: 143px;
		border: 1px solid #c44475;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin-bottom: 41px;
	}

	&__title {
		color: #370954;
		font-family: Montserrat;
		font-weight: 600;
		letter-spacing: 0.2px;
		font-size: 20px;
		margin-bottom: 71px;
	}

	&__text {
		color: #370954;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.14px;
		max-width: 410px;
		text-align: center;
		line-height: 26px;
		margin-bottom: 24px;
	}

	&__btm {
		background-color: #e8ebed;
		width: 233px;
		height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #c44475;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.14px;
		border-radius: 15px;
		cursor: pointer;
		svg{
			margin: 0 11px 0 0;
		}
	}
}



.popup-new {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
display: none;
&.open{
	display: block;
}

	&__content {
		width: 600px;
		height: 212px;
		box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
		border: 1px solid #e5e5e5;
		background-color: #ffffff;
	}

	&__header {
		width: 100%;
		display: flex;
		align-items: center;
		height: 55px;
		padding: 0 0 0 31px;
		box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
	}

	&__icon {
		margin: 0 15px 0 0;

	}
	&__templates{
		border-radius: 8px;
		border: 1px solid #909090;
		background-color: #f6f6f6;
		width: 122px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__title {
		color: #222222;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.06px;
	}

	&__form {
		padding: 25px 0 0 31px;

	}

	&__row {
		display: flex;
		align-items: flex-end;
		margin-bottom: 35px;
		&:last-child{
			margin: 0;
		}
	}

	&__input {
		input{
			color: #c3c3c3;
			font-size: 13px;
			font-weight: 500;

			height: 12px;
		}
		height: 24px;
		border-bottom: 1px solid #000000;
		&_s {
			flex: 0 1 386px;
			margin: 0 30px 0 0;
		}

		&_b {
			flex: 0 1 508px;
			margin: 0 10px 0 0;
		}
		&_bi{
			width: 508px;
		}
		&_si{
			width: 386px;
		}
	}
}
.templates {
position: absolute;
bottom: 66px;
right: 10px;
width: 554px;
height: 430px;
box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
border: 1px solid #e5e5e5;
background-color: #ffffff;
display: none;
&.open{
	display: block;
}
	&__header {
		height: 56px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 26px;
		border-bottom: 1px solid #e2e5e7;
	}

	&__title {
		font-size: 13px;
		font-weight: 500;
		color: #222222;
	}

	&__search {
		div{
			display: flex;
			align-items: center;
			input{
				color: #c3c3c3;
				font-size: 13px;
				width: 143px;
				height: 13px;
			}
			button{
				color: transparent;
				background-color: transparent;
				margin: 0 0 0 10px;
			}
		}
	}

	&__content {
		padding: 15px 16px;
		overflow-y: scroll;
		height: calc(100% - 56px);
	}

	&__line {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 0;
	}

	&__name {
		font-size: 13px;
		font-weight: 500;
		color: #777777;
		max-width: 97px;

	}

	&__item {
		color: #222222;
		font-size: 13px;
		padding: 14px 16px;
		border-radius: 8px;
		border: 1px solid #e5e5e5;
		background-color: #f1ffef;
		width: 412px;
		display: flex;
		align-items: flex-start;
		cursor: pointer;
		img{
			margin: 0 15px 0 0;
			max-width: 79px;	
		}

		&_b {
			flex-direction: column;
		}
	}

	&__btns {
		margin: 12px 0 0 0;
		display: flex;
	}

	&__btn {
		&:first-child{
			margin: 0 10px 0 0;
		}
		width: 168px;
		height: 33px;
		border-radius: 3px;
		background-color: #dbe0e4;
		display: flex;
		align-items: center;
		justify-content: center;

	}
}
.settings {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width: 576px;
height: 654px;
box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
border: 1px solid #e5e5e5;
background-color: #ffffff;
display: none;
&.open{
	display: block;
}
	&__header-top {
		height: 55px;
		display: flex;
		align-items: center;
		padding: 0 0 0 31px;

	}

	&__icon {
		margin: 0 15px 0 0 ;
	}

	&__title {
		font-weight: 500;
		color: #222222;
		margin: -2px 0 0 0;
	}

	&__header-mid {
		height: 76px;
		display: flex;
		align-items: center;
		background-color:rgba(219,224,228,0.2);
		padding: 0 0 0 31px;
	}
	&__form{
		margin: 0 15px 0 0;
	}
	&__checkbox{
		&_item{
			margin: 0 15px 0 0;
		}
	}
	&__header-bot {
		height: 57px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #e2e5e7;
		border-bottom: 1px solid #e2e5e7;
		padding: 0 26px;
		&_line {
			display: flex;
			width: 283px;
			justify-content: space-between;
			align-items: center;
		}

		&_title {
			font-size: 13px;
			font-weight: 500;
			color: #222222;
		}

		&_new-templates {
			font-size: 13px;
			font-weight: 500;
			color: #c44475;
			display: flex;
			align-items: center;
			cursor: pointer;
			svg{
				margin: 0 10px 0 0;
			}
		}
	}

	&__item {
		padding: 23px 15px;
		height: 464px;
		overflow-y: scroll;
	}
	&__block{
		&:last-child{
			margin: 38px 0 0 0;
		}
	}
	&__item-title {
		font-size: 13px;
		font-weight: 500;
		margin: 0 0 12px 0;
		&_green {
			color: #28a219;
		}
		&_purple{
			color: #c44475;
		}
	}
}
.settings-templates-delete {
	position: relative;
	padding: 5px 24px 5px 0;
	&_item{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0,-50%);
	}
	
}

.new-templates {
width: 576px;
height: 654px;
box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
border: 1px solid #e5e5e5;
background-color: #ffffff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
display: none;
&.open{
	display: block;
}
	&__body {
		padding: 20px 26px;
		height: 464px;
		position: relative;
	}

	&__line {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		&_end{
			position: absolute;
			bottom: 28px;
			width: calc(100% - 52px) ;
		}
	}

	&__frame {
		width: 172px;
		height: 35px;
		border-radius: 8px;
		border: 1px solid #909090;
		background-color: #f6f6f6;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13px;
		font-weight: 500;
		color: #c3c3c3;
		cursor: pointer;
		img{
			margin: 0 9px 0 0;
		}
	}

	&__form {
		padding: 30px 0 0 0;
		height:calc(100% - 35px);
	}

	&__input {
		input{
			font-size: 13px;
			font-weight: 500;
			color: #c3c3c3;
			width: 100%;
			padding: 0 0 10px 13px;
		}
		textarea{
			font-size: 13px;
			font-weight: 500;
			height: 26px;
			color: #c3c3c3;
			width: 100%;
			padding: 0 0 10px 13px;
			resize: none;
		}
		border-bottom: 1px solid #909090;
		&:first-child{
			margin-bottom: 30px;
		}
	}
	&__block{
		margin-bottom: 40px;
	}
	&__item{
		width: 100%;
		padding: 11px 12px;
		max-height: 180px;
		overflow-y: scroll;

	}

	&__back {
		font-size: 13px;
		color: #777777;
		display: flex;
		align-items: center;
		&::before{
			content: '';
			width: 4px;
			height: 7px;
			background: url(../img/Слой_669.png) 0 0 no-repeat;
			display: inline-block;
			margin: 0 7px 0 0;
		}
		cursor: pointer;
	}

	&__btm {
		background-color: transparent;
		display: flex;
		align-items: center;
		font-size: 13px;
		font-weight: 500;
		color: #c44475;
		transform: translate(0,4px);
		svg{
			margin: 0 7px 0 0;
		}
	}
}

.none{
	display: none;
}
.__select {
    display: inline-block;
    position: relative;
    top: 0;
    width: 262px;
    font-size: 13px;
    z-index: 1;
    color: #222222;
    &[data-state="active"] {
      .__select__title {
        &::before {
          transform: translate(-3px, -50%) rotate(-45deg);
        }
  
        &::after {
          transform: translate(3px, -50%) rotate(45deg);
        }
      }
      
      .__select__content {
        opacity: 1;
      }
      
      .__select__label + .__select__input + .__select__label {
        max-height: 40px;
        border-top-width: 1px;
      }
    }
}
.__select__title {
display: flex;
align-items: center;
width: 100%;
padding: 0 0 10px 0;
border-bottom: solid 1px #cccccc;
cursor: pointer;

svg {
    margin: 0 10px 0 0;
}

&::before,
&::after {
    content: "";

    position: absolute;
    right: 15px;
	top: 5px;
    display: block;
    width: 8px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #333333;

    transform: translate(-2px, 120%) rotate(45deg);
}
&::after {
    transform: translate(2px, 120%) rotate(-45deg);
}

&:hover {
}
}

.__select__content {
position: absolute;
top: 24px;
display: flex;
flex-direction: column;
width: 100% ;

background-color: #ffffff;

border: 1px solid #c7ccd1;
border-top: none;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;

transition: all 0.3s ease-out;

opacity: 0;
z-index: 8;
}
.__select__input {
display: none;

&:checked + label {
    background-color: #dedede;
}
&:disabled + label {
    opacity: 0.6;
    pointer-events: none;
}
}
.__select__label {
display: flex;
align-items: center;
width: 100%;
height: 40px;
max-height: 0;
padding: 0 16px;

transition: all 0.2s ease-out;

cursor: pointer;

overflow: hidden;

svg {
    margin: 0 10px 0 0;
}

&:hover {
    background-color: #f5f5f5 !important;

    color: #000;
}
}
.checkbox{
	cursor: pointer;
	input{
		display: none;
	}
	display: flex;
	align-items: center;
	&__item{
		position: relative;
		width: 33px;
		height: 18px;
		cursor: pointer;
		&::before{
			content: '';
			width: 33px;
			height: 18px;
			border: 2px solid rgba(255, 255, 255, 0.18);
			border-radius: 10px;
			background-color: #dbe0e4;
			display: block;
			position: absolute;
		}
		&::after{
			content: '';
			width: 16px;
			height: 16px;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13);
			background-color: #ffffff;
			border-radius: 50%;
			display: block;
			position: absolute;;
			right: 15px;
			top: 1px;
			transition: 0.3s ease;
		}		
		&_check{
			position: absolute;
			left: 4px;
			top: 6px;
		}	
		&_notcheck{
			position: absolute;
			right:  5px;
			top: 6px;
		}
	}
}
.checkbox.active{
	.checkbox__item{
		&::after{
			right: 1px;
		}
	}
}
.info {
	overflow-y: scroll;
	position: absolute;
	top: 44px;
	width: 262px;
	height: 690px;
	background-color: #ffffff;
	padding: 12px 0 0 0px;
	right: -100%;
	transition: 0.3s ease;
	z-index: 2;
	&.open{
		right: 2px;
	}	
	&__block {
		padding: 40px 0 40px 35px ;
		border-bottom: 1px solid  #f1f2f3;
		&:last-child{
			border: none;
		}
		&_title {
			color: #222222;
			font-size: 13px;
			margin-bottom: 17px;
		}
	}

	&__icon {
		span{
			position: absolute;
			left: 50%;
			top:50%;
			transform: translate(-50%,-50%);
			color: #ffffff;
			font-size: 20px;
			font-weight: 600;
		}
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: #28a219;
		position: relative;
		left: calc(50% - 16px);
		transform: translate(-50%,0);
		margin-bottom: 32px;
	}

	&__line {
		flex-direction: column;
	}

	&__name {
		margin-bottom: 12px;
	}

	&__number {
		font-size: 14px;
		color: #370954;
		font-weight: 600;
		padding: 0;
		&::before{
			display: none;
		}
	}

	&__messenger {
	}

	&__label {
		display: flex;
		margin-bottom: 30px;
		cursor: pointer;
		&:last-child{
			margin-bottom: 0;
		}
		&_icon {
			margin: 0 13px 0 0;
			width: 14px;
			display: flex;
			justify-content: center;
			height: 7px;
			transform: translate(0,6px);
		}

		&_text {
			font-size: 13px;
			color: #222222;
			max-width: 143px;
			line-height: 20px;
		}

		&_text-pink {
			font-size: 13px;
			color: #c44475;
			max-width: 141px;
		}
	}

	&__form {
	}

	&__checkbox {
		margin-bottom: 20px;
		
		&_item {
			margin: 0 13px 0 0;

		}

		&_text {
			font-size: 13px;
			color: #222222;
			margin: 0 9px 0 0;
		}
		&_line{
			display: flex;
			align-items: center;
		}	

		&_icon {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.info-pad{
	padding: 0 287px 0 25px;
}
.hidden{
	overflow: hidden;
}
.preview-chat {
position: absolute;
width: 100%;
height: 100%;
box-shadow: 0 0 24px rgba(12, 51, 92, 0.03);
border-radius: 10px;
border: 1px solid #ebebeb;
background-color: #f6f6f6;
z-index: 2;
display: none;
&.open{
	display: block;
}
	&__content {
		height: 720px;
		position: relative;
	}

	&__slider-big {
		min-width: 0;
		position: relative;
		height: 720px;
		.slick-arrow{
			display: flex;
			font-size: 0;
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
			width: 16px;
			height: 31px;
			background: url(../img/arrow.png) 0 0 no-repeat;
		}
		.slick-arrow.slick-prev{
			left: 23px;
			z-index: 2;
			transform: rotate(180deg);
		}
		.slick-arrow.slick-next{
			right: 23px;
		}
		.slick-list {
			overflow: hidden;
		}
		.slick-track{
			display: flex;
		
		}
		&_item {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 720px;
		}

		&_img {
		}

		&_file {
		}
	}

	&__block {
		position: absolute;
		left: 25px;
		top: 25px;
		&_title {
			color: #222222;
			font-size: 14px;
			margin-bottom: 15px;
		}
	}

	&__name {
		color: #c3c3c3;
		font-size: 13px;
		font-weight: 500;
		margin-bottom: 15px;
	}

	&__size {
		color: #c3c3c3;
		font-size: 13px;
		font-weight: 500;
	}

	&__footer {
		height: 74px;
		box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
		background-color: #ffffff;
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__slider-small {
		min-width: 0px;
		width: 100%;
		display: flex;
		&_item {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 0px;
			width: 100%;
			.slick-list {
				overflow: hidden;
				width: 690px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;

			}
			.slick-track{
				display: flex;
				align-items: center;
				justify-content: center;
				&::after{
					content: '';
					display: inline-block;
					display: block;
					width: 32px;
					height: 32px;
					border-radius: 50%;
					background: url(../img/plus.png) center no-repeat;
					background-color: rgba(219,224,228,1);
					margin: 0 0 0 16px;
					cursor: pointer;
				}				
			}
		}
		.slick-current{
			.preview-chat__slider-small_new{
				width: 58px;
				height: 60px;
			}
			img{
				border: 2px solid #c44475;
			}
		}
		&_img {
			width: 56px;
			height: 58px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			&::after{
				content: '';
				width: 18px;
				height: 18px;
				display: block;
				position: absolute;
				right: 0px;
				top: 0px;
				background: url(../img/close222.png);
			}
			img{
				max-width: 100%;

			}
		}

	}

	&__button {
		margin: 0 25px 0 0 ;
		background-color: transparent;
	}
	&__close{
		position: absolute;
		top: 24px;
		right: 24px;
		cursor: pointer;
	}
}
.smile{
	position: relative;
	&__text{
		position: relative;
		z-index: 55555;
	}
	&:hover{
		.smile-item{
			opacity: 1;
			visibility: visible;
		}	
		.micro__first-item{
			opacity: 1;
			visibility: visible;
		}
	}
	.smile-item{
		width: 336px;
		height: 224px;
		overflow-y: scroll;
		overflow-x: hidden;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: -244px;
		left: -140px;
		transition: 0.3s ease;
		box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
		border: 1px solid #e5e5e5;
		background-color: #ffffff;
	}
}

.micro {
position: relative;
&:hover{
	.micro__first-item{
		opacity: 1;
		visibility: visible;
	}
}
	&__first-item {
		width: 182px;
		height: 164px;
		box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
		border: 1px solid #e5e5e5;
		background-color: #ffffff;
		position: absolute;
		top: -185px;
		left: -85px;
		padding: 21px 17px;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s ease;
	}

	&__title {
		color: #222222;
		font-size: 13px;
		line-height: 19px;
		max-width: 131px;
		margin: 0 auto;
		margin-bottom: 14px;
		text-align: center;
	}

	&__icon {
		width: 66px;
		height: 66px;
		border: 2px solid #dbe0e4;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		border-radius: 50%;
	}

	&__two-item {
		display: none;
		width: 182px;
		height: 164px;
		box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
		border: 1px solid #e5e5e5;
		background-color: #ffffff;
		position: absolute;
		top: -185px;
		left: -85px;
		padding: 21px 17px;
		&.open{
			display: block;
		}
	}

	&__timer {
		text-align: center;
		margin-bottom: 14px;
		color: #222222;
		font-size: 12px;
		height: 12px;
	}

	&__line {
		display: flex;
		justify-content: space-between;
	}

	&__delete {
		width: 35px;
		height: 35px;
		background-color: rgba(219, 224, 228, 0.5);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__btn {
		width: 35px;
		height: 35px;
		background-color: rgba(219, 224, 228, 0.5);
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		path{
			fill: url(#SVGID_1_);
		}
	}
}
